@import './Sass/colors';

html, body, #root, .App {
    height: 100%;
    background: $color-primary-dark;
}

button, input[type='submit'] {
    justify-self: center;
    align-self: center;
    background: $color-primary-dark;
    padding: 6px 12px;
    border-radius: 12px;
    color: white;
    &:active {
        background: $color-primary;
        color: white;
        font-weight: bolder;
    }
}
button {
    margin-top: 10px;
}
